* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar,
ul {
    background-color: black;
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
}

.navbar,
.nav {
    color: aliceblue;
    align-items: center;
    font-size: 2rem;
    padding: 8px 12px;
    transition-duration: 0.5s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
}

li:hover {
    background-color: gray;
    transform: translateY(-10px);
}

section {

    background-image: url('../25-Project-3/img/csk-vs-rcb.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

}

.rcb {
    background-image: url('/25-Project-3/img/rcbbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    width: 10%;
    height: 400px;
    padding: 5px;
    /* margin: 100px; */
    border-radius: 30px;
    box-shadow: 5px 5px rgba(241, 80, 80, 0.912);
    color: rgb(0, 0, 0);

    /* transition-duration: 4s;
    transition-timing-function: ease-in-out; */

    animation-name: slideleft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes slideleft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(500px);
    }
}


.csk {
    background-image: url("/25-Project-3/img/cskbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid yellow;
    width: 10%;
    height: 400px;
    padding: 5px;
    /* margin: 100px; */
    border-radius: 30px;
    color: rgb(18, 31, 5);
    box-shadow: 5px 5px rgba(233, 233, 83, 0.911);

    /* transition-duration: 4s;
    transition-timing-function: ease-in-out; */

    animation-name: slideright;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slideright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-500px)
    }
}


ol,
li {
    list-style: none;
    padding: 5px;
    font-weight: 800;
}

h2 {
    height: 50px;
    width: 50px;
    background-color: aqua;
    padding-top: 12px;
    border-radius: 100px;
    text-align: center;
    position: relative;
    top: 20%;
    /* left: 50%; */
}

h2:hover {
    background-color: blueviolet;
    font-size: 2rem;
}