* {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

h3 {
    border: 2px dashed gold;
    width: 60%;
    font-size: 2rem;
    padding: 1em;
}

p {
    color: blue;
    font-family: Georgia;
    font-size: 20px;
    width: 30ch;
    /*line warp of charcter*/
    background-color: red;
    width: 60%;
}